.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.body {
  background-color: #fff;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.heading {
  color: #fff;
  text-align: center;
  text-transform: none;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  width: 300px;
  margin-top: 28px;
  border-radius: 200px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

.text-field:focus {
  font-family: Montserrat, sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

.submit-button {
  margin-top: 28px;
  padding-right: 61px;
  padding-left: 61px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
  color: #fff;
  font-weight: 700;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: 3%;
  bottom: 5%;
}

.brand {
  background-image: url('../images/colab-horizontal-white-130.png');
  background-position: 50% 50%;
  background-size: contain;
}

.body-2 {
  background-color: #fdf3e9;
}

.image-2 {
  margin-top: 24px;
  margin-left: 36px;
}

.div-block-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 19000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 90px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.div-block-3 {
  width: 133px;
  height: 46px;
  margin-left: 36px;
  background-image: url('../images/colab-horizontal-black-130.png');
  background-position: 50% 50%;
  background-size: contain;
}

.button {
  margin-right: 36px;
  padding: 8px 33px;
  border: 3px solid #6dcacd;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 425ms ease;
  transition: all 425ms ease;
  font-family: Montserrat, sans-serif;
  color: #6dcacd;
  font-weight: 700;
  text-decoration: none;
}

.button:hover {
  background-color: #6dcacd;
  color: #fdf3e9;
}

.button.pt2 {
  margin-top: 59px;
  margin-right: 0px;
  border-color: #fff;
  color: #fff;
}

.button.pt2:hover {
  background-color: #fff;
  color: #6dcacd;
}

.image-3 {
  position: absolute;
  left: 3%;
  top: 3%;
  right: auto;
  bottom: auto;
}

.div-block-4 {
  position: absolute;
  left: 3%;
  top: 3%;
  right: auto;
  bottom: auto;
  width: 50px;
  height: 50px;
  background-image: url('../images/icons8-left-arrow-100.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 91vh;
  margin-top: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(128deg, #515bd4, #8134af, #dd2a7b 0, #feda77 100%, #f58529);
}

.div-block-6 {
  width: 27%;
  height: 53%;
  margin-top: -89px;
  margin-left: 0px;
  background-image: url('../images/instagram-2950129-2447888.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-7 {
  display: block;
  width: 50%;
  margin-right: 0px;
  color: #fff;
  line-height: 73px;
}

.paragraph {
  width: 100%;
  margin-top: 17px;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 15px;
}

.heading-2 {
  margin-top: -22px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 55px;
  text-align: center;
  text-transform: capitalize;
}

.button-2 {
  background-color: #fff;
}

.link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.image-4 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.html-embed-2 {
  position: absolute;
  left: 47%;
  right: 47%;
  bottom: 36px;
  z-index: 300;
  padding-top: 40px;
  padding-bottom: 40px;
}

.div-block-8 {
  width: 100vw;
  height: 300vh;
  margin-top: -62px;
  padding-top: 0px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 30%;
  padding-right: 382px;
  padding-left: 382px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  font-family: Merriweather, serif;
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.grid {
  grid-template-areas: "Area";
}

.column {
  height: 100%;
  background-image: url('../images/Group-17.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.column.userbehavior {
  background-image: url('../images/Group-16.png');
}

.columns {
  height: 15%;
  margin-top: 156px;
  padding-right: 20%;
  padding-left: 20%;
  line-height: 21px;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2 {
  height: 15%;
  margin-top: 80px;
  padding-right: 20%;
  padding-left: 20%;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  height: 100%;
  background-image: url('../images/Group-15.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.column-4.privatestories {
  background-image: url('../images/Group-18.png');
}

.paragraph-3 {
  margin: 22px 8% 0px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 130vh;
  margin-top: 113px;
  margin-right: -1053px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6dcacd;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 20%;
  padding-right: 347px;
  padding-left: 347px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11.tipsinfo {
  width: 60%;
  height: 64%;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  color: #fdf3e9;
  text-align: center;
}

.paragraph-4 {
  padding-right: 0px;
  padding-left: 0px;
  font-family: Varela, sans-serif;
  font-size: 1.3em;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
}

.paragraph-4.ptinfo {
  margin-top: 85px;
  margin-bottom: -14px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-3 {
  padding: 0px 47px;
}

.html-embed {
  position: absolute;
  left: 47%;
  right: 47%;
  bottom: 37px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  margin-top: 8px;
  margin-right: -15px;
  margin-left: 58px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.link-2:visited {
  color: #000;
}

.heading-4 {
  margin-top: 158px;
  padding-right: 191px;
  padding-left: 191px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
}

.section {
  margin-top: 125px;
}

.creditcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  margin-top: 0px;
  padding-right: 161px;
  padding-left: 161px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6dcacd;
}

.paragraph-5 {
  font-family: Montserrat, sans-serif;
  color: #313131;
  font-weight: 500;
  text-align: center;
}

.link-3 {
  color: #363636;
}

.link-4 {
  color: #363636;
}

.link-5 {
  color: #363636;
}

.text-span {
  color: #363636;
}

.link-6 {
  color: #272727;
}

.link-7 {
  color: #383838;
}

.link-8 {
  color: #383838;
}

.link-9 {
  color: #383838;
}

.text-span-2 {
  font-weight: 700;
}

.text-span-3 {
  font-weight: 700;
}

.text-span-4 {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .div-block-3 {
    background-repeat: no-repeat;
  }

  .button {
    width: 197px;
    padding-right: 17px;
    padding-left: 17px;
    text-align: center;
  }

  .div-block-6 {
    width: 43%;
    margin-top: -144px;
  }

  .heading-2 {
    margin-top: -4px;
    font-size: 2.2em;
    line-height: 42px;
  }

  .columns {
    padding-right: 9%;
    padding-left: 9%;
  }

  .columns-2 {
    padding-right: 9%;
    padding-left: 9%;
  }

  .div-block-10 {
    height: 81vh;
  }

  .div-block-11.tipsinfo {
    height: 52%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .link-2 {
    font-size: 14px;
  }

  .heading-4 {
    padding-right: 74px;
    padding-left: 74px;
  }

  .heading-5 {
    font-size: 29px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin-left: 17px;
  }

  .div-block-6 {
    width: 47%;
    height: 39%;
    margin-top: -84px;
  }

  .heading-2 {
    margin-top: 25px;
  }

  .column {
    height: 50%;
  }

  .columns {
    height: 25%;
  }

  .column-2 {
    height: 50%;
    margin-bottom: 52px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .column-3 {
    height: 50%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .column-3.ps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-4 {
    height: 50%;
    margin-bottom: 33px;
  }

  .paragraph-3 {
    margin-bottom: -118px;
  }

  .div-block-10 {
    height: 111vh;
    margin-top: 190px;
  }

  .div-block-11.tipsinfo {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-3 {
    font-size: 29px;
  }

  .paragraph-4 {
    margin-top: 82px;
  }

  .paragraph-4.ptinfo {
    margin-top: 45px;
  }

  .heading-5 {
    margin-top: 45px;
  }

  .youtube {
    width: 308px;
    height: 500px;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    padding-right: 34px;
    padding-left: 34px;
  }

  .div-block-2 {
    display: none;
  }

  .div-block-3 {
    width: 96px;
    margin-top: 4px;
    margin-left: 0px;
  }

  .div-block-5 {
    margin-top: 0px;
  }

  .div-block-6 {
    width: 68%;
    height: 41%;
  }

  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-2 {
    width: 100%;
    margin-top: -26px;
    margin-left: 0px;
    font-size: 2em;
  }

  .column {
    height: 45%;
  }

  .columns {
    height: 29%;
    margin-top: 61px;
  }

  .column-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .columns-2 {
    height: 29%;
    margin-top: 3px;
  }

  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .column-3.ps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .column-4 {
    height: 45%;
    margin-top: -10px;
  }

  .paragraph-3 {
    margin: 20px 0% 0px;
  }

  .div-block-10 {
    height: 127vh;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .div-block-11 {
    height: 8%;
    margin-top: 34px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block-11.tipsinfo {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .paragraph-4 {
    margin-top: -3px;
  }

  .paragraph-4.ptinfo {
    margin-top: 4px;
    padding-right: 36px;
    padding-left: 36px;
    text-align: center;
  }

  .html-embed {
    margin-left: -6px;
    padding-left: 0px;
  }

  .container {
    position: static;
    display: block;
    overflow: visible;
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 27px;
    padding-left: 27px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .menu-button {
    margin-right: 0px;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .brand-2 {
    position: static;
    z-index: 300000;
    margin-left: 0px;
    background-image: url('../images/colab-horizontal-black-130.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-menu {
    display: block;
    background-color: #fff;
  }

  .icon {
    background-color: #fff;
    color: #000;
  }

  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .nav-link {
    width: 100%;
  }

  .heading-4 {
    margin-top: 116px;
    padding-right: 36px;
    padding-left: 36px;
    font-size: 17px;
    line-height: 25px;
  }

  .youtube {
    width: 308px;
    height: 500px;
  }
}